APP_URL=http://localhost:3000
DATABASE_URL=
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
OPENAI_API_KEY=
BLOB_READ_WRITE_TOKEN=
JWLD_PUBLISH_MODE=export
JWLD_STOREFRONT_URL=
JWLD_STORE_API_URL=
JWLD_STORE_API_KEY=
